#dish_detail {
  display: flex;
  flex-direction: column; }
  #dish_detail button {
    padding: unset;
    color: unset;
    background: unset;
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    min-width: unset;
    max-width: unset;
    height: unset;
    margin: unset; }
  #dish_detail #dish_detail_header {
    height: 192px;
    background: #3d404c;
    display: grid; }
    #dish_detail #dish_detail_header #dish_detail_image {
      grid-area: 1/1/1/1;
      justify-self: center;
      align-self: center;
      width: 144px;
      height: 144px;
      border-radius: 50%;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); }
    #dish_detail #dish_detail_header #dish_detail_menu {
      grid-area: 1/1/1/1;
      justify-self: end;
      align-self: start;
      margin: 16px 16px 0 0;
      color: white; }
  #dish_detail #dish_detail_info {
    grid-area: 2/1/2/1;
    height: 144px;
    padding: 16px 16px 12px 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    display: grid; }
    #dish_detail #dish_detail_info .dish_detail_row_name {
      display: grid;
      grid-template-columns: 65% 35%;
      font-size: 1.5rem;
      text-transform: capitalize; }
      #dish_detail #dish_detail_info .dish_detail_row_name .dish_detail_info_name {
        font-weight: 400;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
      #dish_detail #dish_detail_info .dish_detail_row_name .dish_detail_info_calories_container {
        justify-self: end;
        color: #46a588;
        font-weight: 400; }
        #dish_detail #dish_detail_info .dish_detail_row_name .dish_detail_info_calories_container .dish_detail_info_calories {
          font-size: 1.5rem;
          font-weight: 400; }
        #dish_detail #dish_detail_info .dish_detail_row_name .dish_detail_info_calories_container .dish_detail_info_calories_text {
          font-size: 16px;
          text-transform: lowercase; }
    #dish_detail #dish_detail_info .dish_detail_row_serving {
      position: relative;
      top: -6px;
      font-size: 0.8rem;
      color: #46a588; }
      #dish_detail #dish_detail_info .dish_detail_row_serving .dish_detail_info_seperator {
        font-size: 10px; }
    #dish_detail #dish_detail_info .dish_detail_row_nutrients {
      margin: 12px 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      #dish_detail #dish_detail_info .dish_detail_row_nutrients .nutrient_container {
        display: grid;
        justify-content: center;
        text-align: center; }
        #dish_detail #dish_detail_info .dish_detail_row_nutrients .nutrient_container .nutrient_value_container {
          color: #46a588; }
          #dish_detail #dish_detail_info .dish_detail_row_nutrients .nutrient_container .nutrient_value_container .nutrient_value {
            margin-bottom: 4px; }
          #dish_detail #dish_detail_info .dish_detail_row_nutrients .nutrient_container .nutrient_value_container .nutrient_units {
            font-size: 1.1rem; }
        #dish_detail #dish_detail_info .dish_detail_row_nutrients .nutrient_container .nutrient_text {
          font-size: 0.9rem; }
      #dish_detail #dish_detail_info .dish_detail_row_nutrients .vert_seperator {
        width: 1px;
        height: 80%;
        background: rgba(192, 198, 198, 0.25);
        padding: 4px 0; }
  #dish_detail #dish_detail_footer {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    #dish_detail #dish_detail_footer .dish_detail_creator {
      justify-self: start;
      align-self: end;
      font-size: 0.8rem; }
    #dish_detail #dish_detail_footer .dish_detail_per_dish {
      justify-self: end;
      align-self: end;
      font-size: 0.8rem; }
  #dish_detail #dish_detail_ingredients {
    display: flex;
    flex-direction: column; }
    #dish_detail #dish_detail_ingredients #dish_detail_ingredients_header {
      height: 52px;
      color: white;
      background: linear-gradient(to right, #ffd07b, #fa8090);
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
      display: grid; }
      #dish_detail #dish_detail_ingredients #dish_detail_ingredients_header #ingredients_header_text {
        justify-self: center;
        align-self: center;
        font-size: 1.4rem; }
    #dish_detail #dish_detail_ingredients #dish_detail_ingredients_body {
      padding: 16px;
      color: rgba(0, 0, 0, 0.5);
      font-size: 12px;
      display: flex;
      flex-direction: column; }
      #dish_detail #dish_detail_ingredients #dish_detail_ingredients_body .ingredients_item {
        height: 68px;
        display: grid;
        grid-template-columns: 64px 1fr 64px;
        margin: 0 0 4px 0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08); }
        #dish_detail #dish_detail_ingredients #dish_detail_ingredients_body .ingredients_item .ingredients_item_serving_container {
          height: 100%;
          width: 100%;
          background: #fcfcfc;
          display: grid; }
          #dish_detail #dish_detail_ingredients #dish_detail_ingredients_body .ingredients_item .ingredients_item_serving_container button {
            height: fit-content;
            width: fit-content;
            padding: 0;
            color: #707070;
            border: none;
            outline: none;
            background: none;
            box-shadow: none;
            align-self: center;
            justify-self: center; }
            #dish_detail #dish_detail_ingredients #dish_detail_ingredients_body .ingredients_item .ingredients_item_serving_container button i {
              font-size: 24px; }
          #dish_detail #dish_detail_ingredients #dish_detail_ingredients_body .ingredients_item .ingredients_item_serving_container .ingredients_item_serving {
            text-align: center;
            align-self: center;
            justify-self: center;
            color: #707070; }
        #dish_detail #dish_detail_ingredients #dish_detail_ingredients_body .ingredients_item .ingredients_item_info {
          padding: 8px;
          z-index: 1;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
          display: grid; }
          #dish_detail #dish_detail_ingredients #dish_detail_ingredients_body .ingredients_item .ingredients_item_info .ingredients_item_name {
            grid-area: 1/1/1/1;
            align-self: center;
            font-size: 1.2rem;
            text-transform: capitalize; }
          #dish_detail #dish_detail_ingredients #dish_detail_ingredients_body .ingredients_item .ingredients_item_info .ingredients_item_calories_container {
            grid-area: 1/1/1/1;
            justify-self: end;
            align-self: center;
            margin-right: 8px; }
            #dish_detail #dish_detail_ingredients #dish_detail_ingredients_body .ingredients_item .ingredients_item_info .ingredients_item_calories_container .ingredients_item_calories {
              font-size: 1.2rem; }
            #dish_detail #dish_detail_ingredients #dish_detail_ingredients_body .ingredients_item .ingredients_item_info .ingredients_item_calories_container .ingredients_item_text {
              font-size: 12px; }
        #dish_detail #dish_detail_ingredients #dish_detail_ingredients_body .ingredients_item .ingredients_delete_button {
          height: 100%;
          width: 100%;
          background: #fcfcfc;
          display: grid; }
          #dish_detail #dish_detail_ingredients #dish_detail_ingredients_body .ingredients_item .ingredients_delete_button button {
            height: fit-content;
            width: fit-content;
            padding: 0;
            color: #707070;
            border: none;
            outline: none;
            background: none;
            box-shadow: none;
            align-self: center;
            justify-self: center; }
            #dish_detail #dish_detail_ingredients #dish_detail_ingredients_body .ingredients_item .ingredients_delete_button button i {
              font-size: 24px; }
