#search_form {
  overflow: auto;
  width: 100%;
  height: 100%;
  box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.025);
  display: flex;
  flex-direction: column; }
  #search_form form #add_food_search_container {
    width: 100%;
    height: 42px;
    display: grid; }
    #search_form form #add_food_search_container input {
      grid-area: 1/1/1/1;
      outline: none;
      border: none;
      font-size: 1rem;
      text-align: center;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
      opacity: 0.5;
      transition: all 0.35s ease-in-out; }
    #search_form form #add_food_search_container input::placeholder {
      color: rgba(0, 0, 0, 0.6); }
    #search_form form #add_food_search_container input:focus::placeholder,
    #search_form form #add_food_search_container input:hover::placeholder {
      color: white; }
    #search_form form #add_food_search_container input:hover,
    #search_form form #add_food_search_container input:focus {
      color: white;
      background: linear-gradient(to right, orange, salmon);
      opacity: 1;
      transition: all 0.35s ease-in-out; }
    #search_form form #add_food_search_container button {
      width: fit-content;
      height: 100%;
      grid-area: 1/1/1/1;
      justify-self: end;
      padding: 0 32px;
      background: none;
      outline: none;
      color: white;
      box-shadow: none; }
  #search_form #add_food_nutrition_data {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center; }
    #search_form #add_food_nutrition_data form #add_food_servings_container {
      height: 36px;
      display: flex;
      justify-content: center; }
      #search_form #add_food_nutrition_data form #add_food_servings_container #add_food_servings_input_container {
        height: 100%;
        margin: 0px 32px 0 0;
        border-radius: 8px;
        background: white;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); }
        #search_form #add_food_nutrition_data form #add_food_servings_container #add_food_servings_input_container label {
          padding: 8px 0 8px 8px;
          color: #707070;
          font-size: 14px; }
        #search_form #add_food_nutrition_data form #add_food_servings_container #add_food_servings_input_container input {
          height: 100%;
          width: 32px;
          padding: 0;
          border: none;
          border-radius: 0 8px 8px 0;
          outline: none;
          text-align: center;
          appearance: unset; }
      #search_form #add_food_nutrition_data form #add_food_servings_container button {
        width: auto;
        height: auto;
        padding: 8px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 8px;
        outline: none;
        font-size: 14px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); }
  #search_form .horizontal_seperator {
    width: 100%;
    height: 4px;
    background: white;
    /* margin: 24px 0px; */
    margin: 24px 0 0 0;
    padding: 2px 0;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.15); }
