#chart_wrapper {
  width: 100%;
  height: 55vh; }
  #chart_wrapper #chart_cover {
    z-index: 1;
    width: 100%;
    height: 55vh;
    position: absolute; }
  #chart_wrapper svg {
    z-index: 0; }
