#reviewForm {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #reviewForm #reviewFormImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.pexels.com/photos/221057/pexels-photo-221057.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    width: 100vw;
    height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  #reviewForm form {
    display: block; }
    #reviewForm form button {
      text-align: center; }
  #reviewForm .reviewTitle {
    margin: 10px;
    font-size: 24px; }
  #reviewForm .reviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; }
