#add_food {
  height: 100vh;
  display: grid;
  overflow: hidden; }
  #add_food #slide_down {
    display: none;
    grid-area: 1/1/1/1;
    width: 100%;
    height: 100%;
    background: red;
    transition: all 0.5s ease-in-out; }
  #add_food #slide_down.show {
    display: block;
    transition: all 0.5s ease-in-out; }
  #add_food #add_food_content {
    grid-area: 1/1/1/1;
    height: 100vh;
    display: grid;
    grid-template-rows: 54px calc(80% - 54px) 1fr 1fr;
    background: linear-gradient(white, rgba(240, 240, 240, 0.5));
    transform: translateY(0vh);
    transition: all 0.3s ease-in-out; }
    #add_food #add_food_content #header {
      grid-area: 1/1/1/1; }
    #add_food #add_food_content #camera,
    #add_food #add_food_content #search_form {
      grid-area: 2/1/2/1; }
    #add_food #add_food_content .or_line_seperator {
      grid-area: 3/1/3/1;
      display: flex;
      justify-content: center;
      align-items: center; }
      #add_food #add_food_content .or_line_seperator .line_seperator {
        width: 64px;
        height: 1px;
        background: lightgray; }
      #add_food #add_food_content .or_line_seperator span {
        color: lightgray;
        margin: 0 8px; }
    #add_food #add_food_content #toggle {
      grid-area: 4/1/4/1;
      width: fit-content;
      height: fit-content;
      align-self: start;
      justify-self: center;
      padding: 8px 24px;
      border: 1px solid palegreen;
      border-radius: 100px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      outline: none;
      font-size: 1.25rem;
      font-weight: 200;
      color: white; }
    #add_food #add_food_content #toggle.camera {
      width: 56px;
      height: 56px;
      padding: 8px;
      background: #707070;
      border: 1px solid white;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center; }
      #add_food #add_food_content #toggle.camera i {
        font-size: 32px;
        color: white; }
  #add_food #add_food_content.slide_down {
    box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(20vh);
    transition: all 0.3s ease-in-out; }
