$header_height: 54px;
#add_food {
  // height: calc(100vh - 64px);
  height: 100vh;
  display: grid;
  overflow: hidden;
  // grid-template-rows: $header_height calc(80% - 54px) 1fr 1fr;
  #slide_down {
    display: none;
    grid-area: 1/1/1/1;

    width: 100%;
    height: 100%;
    // background: red;
    transition: all 0.5s ease-in-out;
  }

  #slide_down.show {
    display: block;
    transition: all 0.5s ease-in-out;
  }

  // #add_food_content.tint:after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   background: rgba(0, 0, 0, 0.7);
  //   transition: all 0.3s linear;
  // }

  #add_food_content {
    grid-area: 1/1/1/1;

    height: 100vh;

    display: grid;
    grid-template-rows: $header_height calc(80% - 54px) 1fr 1fr;

    background: linear-gradient(white, rgba(240, 240, 240, 0.5));

    transform: translateY(0vh);
    transition: all 0.3s ease-in-out;

    #header {
      grid-area: 1/1/1/1;
    }
    #camera,
    #search_form {
      grid-area: 2/1/2/1;
    }
    .or_line_seperator {
      grid-area: 3/1/3/1;

      display: flex;
      justify-content: center;
      align-items: center;
      .line_seperator {
        width: 64px;
        height: 1px;
        background: lightgray;
      }
      span {
        color: lightgray;
        margin: 0 8px;
      }
    }
    #toggle {
      grid-area: 4/1/4/1;

      width: fit-content;
      height: fit-content;
      align-self: start;
      justify-self: center;

      padding: 8px 24px;

      border: none;
      border-radius: 16px;

      outline: none;

      background: #707070;

      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

      font-size: 1.25rem;
      font-weight: 200;

      color: white;

      // text-transform: uppercase;
    }
    #toggle.camera {
      width: 56px;
      height: 56px;
      padding: 8px;

      background: #707070;
      border: 1px solid white;
      border-radius: 100%;

      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

      display: flex;
      justify-content: center;
      align-items: center;
      i {
        font-size: 32px;
        color: white;
      }
    }
  }
  #add_food_content.slide_down {
    box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(20vh);
    transition: all 0.3s ease-in-out;
  }
}
