#add_food {
  height: 100vh;
  display: grid;
  grid-template-rows: 54px calc(80% - 54px) 1fr 1fr; }
  #add_food .or_line_seperator {
    display: flex;
    justify-content: center;
    align-items: center; }
    #add_food .or_line_seperator .line_seperator {
      width: 64px;
      height: 1px;
      background: lightgray; }
    #add_food .or_line_seperator span {
      color: lightgray;
      margin: 0 8px; }
  #add_food #toggle {
    font-size: 1.5rem;
    border-radius: 100px;
    border: 1px solid palegreen;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: fit-content;
    height: fit-content;
    align-self: start;
    justify-self: center;
    outline: none; }
