button {
  padding: unset;
  color: unset;
  background: unset;
  border: unset;
  border-radius: unset;
  box-shadow: unset;
  min-width: unset;
  max-width: unset;
  height: unset;
  margin: unset;
}

#dashboard {
  display: grid;
  #header {
  }

  #dashboard_body {
    color: #3d404c;

    overflow: hidden;
    #calories {
      margin-top: 20px;
      text-align: center;
      font-size: 20px;
    }
  }
}
