#profileForm {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #profileForm #profileFormImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.pexels.com/photos/709823/pexels-photo-709823.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    width: 100vw;
    height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  #profileForm #genderRequiredMessage {
    margin-top: 10px;
    color: red; }
