html {
  body {
    margin: 0;
    padding: 0;
    // min-height: calc(100vh - 56px);
  }
}
* {
  font-family: sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

::selection {
  background: rgba(255, 150, 255, 0.5);
  // background: rgba(255, 150, 138, 0.7); /* WebKit/Blink Browsers */
}
