#food_list {
  button {
    outline: none;
  }

  display: grid;
  #food_list_header {
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
    #food_list_header_text {
      font-size: 1.5rem;
    }
  }
  #food_list_navbar {
    height: 52px;
    margin: 0 0 8px 0;

    color: white;
    background: linear-gradient(to right, #ffd07b, #fa8090);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);

    display: grid;
    grid-template-columns: 25% 50% 25%;

    #food_list_filter_all {
      justify-self: start;

      margin: 0 0 0 16px;

      font-size: 1.2rem;
      text-transform: capitalize;
    }
    #food_list_filter_meal {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      #food_list_filter_meal_text {
        font-size: 1.2rem;
        text-transform: capitalize;
      }
      button.disabled {
        opacity: 0.25;
      }
    }
    #food_list_calories {
      margin: 0 16px 0 0;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      #food_list_calories_text {
        font-size: 1.2rem;
        #food_list_calories_units {
          font-size: 0.8rem;
          text-transform: uppercase;
        }
      }
    }
  }

  #food_list_body {
    margin: 2px;

    background: #f7f7f7;

    display: grid;
    .food_list_item {
      height: 52px;
      margin: 0 0 4px 0;
      background: white;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);

      display: grid;
      grid-template-columns: 82px 1fr 32px;

      .item_created_at {
        // margin: 0 8px 0 0;
        padding: 0 8px 0 8px;

        background: #fcfcfc;

        display: flex;
        justify-content: center;
        align-items: center;

        .item_created_at_time {
          font-size: 15px;
          .item_created_at_period {
            font-size: 12px;
          }
        }
      }
      .food_list_item_body {
        display: grid;
        align-items: center;
        .item_name {
          grid-area: 1/1/1/1;
          justify-self: start;

          margin: 0 0 0 8px;

          text-transform: capitalize;
        }
        .item_calories {
          grid-area: 1/1/1/1;
          justify-self: end;

          // margin: 0 8px 0 0;

          color: #46a588;
          background: #fcfcfc;

          #item_calories_units {
            font-size: 0.65rem;
            text-transform: uppercase;
          }
        }
      }
      .item_button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
// #foods_list {
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   width: 65%;
//   max-height: 55vh;
//   padding-top: 15px;
//   margin-bottom: 20px;

//   border-radius: 8px;
//   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

//   overflow: auto;
//   #list_title {
//     text-align: center;
//     font-size: 25px;
//     margin-bottom: 10px;
//   }
//   #no_dishes {
//     margin: 10px 0px;
//     padding: 0px 10px;
//     text-align: center;
//   }
//   .dish_wrap {
//     width: 60%;
//     min-height: fit-content;
//     padding-top: 20px;
//     border-top: 1px solid #c6c6c6;
//     text-align: center;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin: 10px 0px;
//     font-size: 18px;
//     .dish_name {
//       font-weight: bold;
//       text-transform: uppercase;
//     }
//     .ingredients_wrap {
//       margin-top: 10px;
//       .ingredient_name {
//         text-decoration: underline;
//         text-transform: uppercase;
//       }
//       li {
//         list-style: none;
//       }
//     }
//   }
// }
