#food_list {
  display: grid; }
  #food_list button {
    outline: none; }
  #food_list #food_list_header {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center; }
    #food_list #food_list_header #food_list_header_text {
      font-size: 1.5rem; }
  #food_list #food_list_navbar {
    height: 52px;
    color: white;
    background: linear-gradient(to right, #ffd07b, #fa8090);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 25% 50% 25%; }
    #food_list #food_list_navbar #food_list_filter_all {
      justify-self: start;
      margin: 0 0 0 16px;
      font-size: 1.2rem;
      text-transform: capitalize; }
    #food_list #food_list_navbar #food_list_filter_meal {
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      #food_list #food_list_navbar #food_list_filter_meal #food_list_filter_meal_text {
        font-size: 1.2rem;
        text-transform: capitalize; }
      #food_list #food_list_navbar #food_list_filter_meal button.disabled {
        opacity: 0.25; }
    #food_list #food_list_navbar #food_list_calories {
      margin: 0 16px 0 0;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      #food_list #food_list_navbar #food_list_calories #food_list_calories_text {
        font-size: 1.2rem; }
        #food_list #food_list_navbar #food_list_calories #food_list_calories_text #food_list_calories_units {
          font-size: 0.8rem;
          text-transform: uppercase; }
  #food_list #food_list_body {
    background: #f7f7f7;
    display: grid; }
    #food_list #food_list_body .food_list_item {
      height: 52px;
      margin: 0 0 4px 0;
      background: white;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
      display: grid;
      grid-template-columns: 82px 1fr 32px; }
      #food_list #food_list_body .food_list_item .item_created_at {
        padding: 0 8px 0 8px;
        background: #fcfcfc;
        display: flex;
        justify-content: center;
        align-items: center; }
        #food_list #food_list_body .food_list_item .item_created_at .item_created_at_time {
          font-size: 15px; }
          #food_list #food_list_body .food_list_item .item_created_at .item_created_at_time .item_created_at_period {
            font-size: 12px; }
      #food_list #food_list_body .food_list_item .food_list_item_body {
        display: grid;
        align-items: center; }
        #food_list #food_list_body .food_list_item .food_list_item_body .item_name {
          grid-area: 1/1/1/1;
          justify-self: start;
          margin: 0 0 0 8px;
          text-transform: capitalize; }
        #food_list #food_list_body .food_list_item .food_list_item_body .item_calories {
          grid-area: 1/1/1/1;
          justify-self: end;
          color: #46a588;
          background: #fcfcfc; }
          #food_list #food_list_body .food_list_item .food_list_item_body .item_calories #item_calories_units {
            font-size: 0.65rem;
            text-transform: uppercase; }
      #food_list #food_list_body .food_list_item .item_button {
        display: flex;
        justify-content: center;
        align-items: center; }
    #food_list #food_list_body #food_list_empty {
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center; }
      #food_list #food_list_body #food_list_empty #empty_message {
        font-size: 1.2rem; }
