$camera_height: 100%;
$button_height: 64px;
#camera {
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-rows: $camera_height 0px;
  // overflow: hidden;

  #view_port_container {
    grid-area: 1/1/3/1;
    height: $camera_height;
    height: unset;
    width: 100vw;
    // width: 100%;
    // border-rdisplay: flex;
    // justify-content: center;
    // align-items: center;
    // border-radius: 0 0 16px 16px;

    overflow: hidden;
    video,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // object-position: center;
      // position: relative;
      // left: 50%;
      // transform: translateX(-50%);
    }
  }

  #shutter_btn {
    grid-area: 2/1/2/1;
    // z-index: 1;
    justify-self: center;
    // align-self: end;

    height: $button_height;
    width: $button_height;

    position: relative;
    top: calc(-64px - 16px);

    border-radius: 50%;

    background: rgb(220, 220, 220);
    border: 5px white solid;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

    transition: all 0.3s ease-in-out;
  }
  #shutter_btn:hover {
    background: rgb(203, 203, 203);
    border: 6px white solid;

    transition: all 0.3s ease-in-out;
  }
  #shutter_btn:focus {
    outline: none;
  }
  #file_input {
    justify-self: center;
    align-self: center;
    // width: 100px;
    // height: 32px;
  }
}
